<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-start align-items-center">
    <div class="col-6 d-flex justify-content-start ml-0 auto">
      <h2>My Blog</h2>
    </div>
    <div class="col-6 d-flex justify-content-end ">
      <%= login_helper 'nav-link' %>
    </div>
  </div>
</header>