<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      </p>
    </div>

    <div class="p-4">
      <h4 class="fst-italic">Elsewhere</h4>
      <ol class="list-unstyled social-links">
      <li><a href="https://github.com/parthsoni262/parth-portfolio"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/parth_soni_01"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
    </ol>
    </div>
  </div>
</div>