<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "mcOS-BS7.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>I am a person who is positive about every aspect of life. There are many things I like to do, to see, and to experience.</p>
  </div>
</div>