<h1>Pages#contact</h1>
<p><%= number_to_phone "1212121212" %></p>

<p><%= number_to_currency "1212" %></p>

<p><%= number_to_percentage "12.12" %></p>

<p><%= number_with_delimiter "128768686812" %></p>
